extends layout

block content
 div(ng-repeat='value in imagemURL')
  p Agente: {{value.agente}} OS: {{value.ordem}} Data: {{value.data}} Nr Doc: {{value.documento}} Serviço: {{value.servico}} Ação: {{value.acao}}
  img(src='{{value.foto}}')
 

   


